.idea/
.gradle/
.history/
/build/
/app/build/
/app/out/
/app/resources/
/app/archive/
/data/build/
/data/api/build/
/data/core/build/
/out/
/resources/
/archive/
/logs/
/web/build/
/army_code-hash.csv
/invalid_army_code.csv
/missing_unit_army_code.csv
