<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div class="flex" th:fragment="attributsFragment(unitPrintCard)">
    <div class="typ-and-category">
        <div th:text="${unitPrintCard.getProfile().getType()}"></div>
        <div th:text="${unitPrintCard.getShortCategory()}"></div>
    </div>
    <table class="attribut">
        <thead>
        <tr>
            <th>MOV</th>
            <th>CC</th>
            <th>BS</th>
            <th>PH</th>
            <th>WIP</th>
            <th>ARM</th>
            <th>BTS</th>
            <th th:text="${unitPrintCard.getProfile().structure ? 'STR' : 'VITA'}">Wounds
            </th>
            <th>S</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${unitPrintCard.getMovement()}">0-0</td>
            <td th:text="${unitPrintCard.getProfile().closeCombat}">0</td>
            <td th:text="${unitPrintCard.getProfile().ballisticSkill}">0</td>
            <td th:text="${unitPrintCard.getProfile().physique}">0</td>
            <td th:text="${unitPrintCard.getProfile().willpower}">0</td>
            <td th:text="${unitPrintCard.getProfile().armor}">0</td>
            <td th:text="${unitPrintCard.getProfile().bioTechnologicalShield}">0</td>
            <td th:text="${unitPrintCard.getProfile().wounds}">0</td>
            <td th:text="${unitPrintCard.getProfile().silhouette}">0</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>