<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="bootyRollFragment(bootyRolls)">
    <div class="card" th:if="${bootyRolls != null and not #lists.isEmpty(bootyRolls)}">
        <div class="cardContent">

            <div class="cardHeader">
                <h2 class="card-header-title">Booty</h2>
            </div>
            <table class="booty">
                <thead>
                <tr>
                    <th>Roll</th>
                    <th>Bonus</th>
                    <th>Roll</th>
                    <th>Bonus</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="booty : ${bootyRolls}">
                    <td th:text="${booty.getRoll1()}"></td>
                    <td th:text="${booty.getBonus1()}"></td>
                    <td th:text="${booty.getRoll2()}"></td>
                    <td th:text="${booty.getBonus2()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>