<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<body>

<div th:fragment="deployablesFragment()">
    <div class="card" th:if="${deployables != null and not #lists.isEmpty(deployables)}">
        <div class="card-content">

            <div class="card-header">
                <h2 class="card-header-title" th:text="#{deployable.profiles.title}">Deployable Profiles</h2>
            </div>
            <table class="weapon">
                <thead>
                <tr>
                    <th th:utext="#{deployable.table.header.weapon.name}">Name</th>
                    <th>CC</th>
                    <th>BS</th>

                    <th class="weapon-padding" th:if="${printOptions.isShowBurst()}" th:utext="#{weapon.table.header.weapon.burst}">B</th>
                    <th class="weapon-padding" th:if="${printOptions.isShowSavingRoll()}" th:utext="#{weapon.table.header.weapon.saving.roll}">Saving Roll</th>
                    <th th:if="${printOptions.isShowPs()}" th:utext="#{weapon.table.header.weapon.ps}">PS</th>
                    <th th:if="${printOptions.isShowAmmo()}" th:utext="#{weapon.table.header.weapon.ammunition}">Ammo</th>
                    <th th:if="${printOptions.isShowSaveAttribute()}" th:utext="#{weapon.table.header.weapon.saving.attribute}">Save<br>Attr.</th>
                    <th th:if="${printOptions.isShowNumberOfSaveRolls()}" th:utext="#{weapon.table.header.weapon.saving.number}">Save<br>Rolls</th>

                    <th th:utext="#{attributs.table.header.ARM}">ARM</th>
                    <th th:utext="#{attributs.table.header.BTS}">BTS</th>
                    <th th:utext="#{attributs.table.header.STR}">STR</th>
                    <th th:utext="#{attributs.table.header.S}">S</th>
                    <th th:utext="#{weapon.table.header.weapon.traits}">Traits</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="deployable : ${deployables}">
                    <td class="weapon-table-name-header" th:text="${deployable.getName()}"></td>
                    <td th:text="${deployable.getCc()}"></td>
                    <td th:text="${deployable.getBs()}"></td>

                    <td th:if="${printOptions.isShowBurst()}"
                        th:text="${printUtils.getWeaponBurstWithExtra(null, deployable.getWeapon(), printOptions)}"></td>
                    <td class="weapon-padding" th:if="${printOptions.isShowSavingRoll()}"
                        th:text="${printUtils.getWeaponSavingRollWithExtra(null, deployable.getWeapon(), printOptions)}"></td>
                    <td th:if="${printOptions.isShowPs()}"
                        th:text="${printUtils.getWeaponPsWithExtra(null, deployable.getWeapon(), printOptions)}"></td>
                    <td th:if="${printOptions.isShowAmmo()}"
                        th:text="${printUtils.getAmmo(deployable.getWeapon())}"></td>
                    <td th:if="${printOptions.isShowSaveAttribute()}"
                        th:text="${printUtils.getSavingAttribut(deployable.getWeapon())}"></td>
                    <td th:if="${printOptions.isShowNumberOfSaveRolls()}"
                        th:text="${printUtils.getSavingNumber(deployable.getWeapon())}"></td>

                    <td th:text="${deployable.getArm()}"></td>
                    <td th:text="${deployable.getBts()}"></td>
                    <td th:text="${deployable.getStructure()}"></td>
                    <td th:text="${deployable.getSilhouette()}"></td>
                    <td class="weapon-table-traits" th:text="${deployable.getTraits()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>