<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="deployablesFragment()">
    <div class="card" th:if="${deployables != null and not #lists.isEmpty(deployables)}">
        <div class="card-content">

            <div class="card-header">
                <h2 class="card-header-title">Deployable Profiles</h2>
            </div>
            <table class="weapon">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>CC</th>
                    <th>BS</th>

                    <th class="weapon-padding" th:if="${printOptions.isShowBurst()}">B</th>
                    <th class="weapon-padding" th:if="${printOptions.isShowSavingRoll()}">Saving Roll</th>
                    <th th:if="${printOptions.isShowPs()}">PS</th>
                    <th th:if="${printOptions.isShowAmmo()}">Ammo</th>
                    <th th:if="${printOptions.isShowSaveAttribute()}">Save<br>Attr.</th>
                    <th th:if="${printOptions.isShowNumberOfSaveRolls()}">Save<br>Rolls</th>

                    <th>ARM</th>
                    <th>BTS</th>
                    <th>STR</th>
                    <th>S</th>
                    <th>Traits</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="deployable : ${deployables}">
                    <td class="weapon-table-name-header" th:text="${deployable.getName()}"></td>
                    <td th:text="${deployable.getCc()}"></td>
                    <td th:text="${deployable.getBs()}"></td>

                    <td th:if="${printOptions.isShowBurst()}"
                        th:text="${printUtils.getWeaponBurstWithExtra(null, deployable.getWeapon(), printOptions)}"></td>
                    <td class="weapon-padding" th:if="${printOptions.isShowSavingRoll()}"
                        th:text="${printUtils.getWeaponSavingRollWithExtra(null, deployable.getWeapon(), printOptions)}"></td>
                    <td th:if="${printOptions.isShowPs()}"
                        th:text="${printUtils.getWeaponPsWithExtra(null, deployable.getWeapon(), printOptions)}"></td>
                    <td th:if="${printOptions.isShowAmmo()}"
                        th:text="${printUtils.getAmmo(deployable.getWeapon())}"></td>
                    <td th:if="${printOptions.isShowSaveAttribute()}"
                        th:text="${printUtils.getSavingAttribut(deployable.getWeapon())}"></td>
                    <td th:if="${printOptions.isShowNumberOfSaveRolls()}"
                        th:text="${printUtils.getSavingNumber(deployable.getWeapon())}"></td>

                    <td th:text="${deployable.getArm()}"></td>
                    <td th:text="${deployable.getBts()}"></td>
                    <td th:text="${deployable.getStructure()}"></td>
                    <td th:text="${deployable.getSilhouette()}"></td>
                    <td class="weapon-table-traits" th:text="${deployable.getTraits()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>