<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<body>

<div class="max-meight" th:fragment="equipmentsAndSkills(unitPrintCard)">
    <div class="equipments-and-skills-column">
        <div class="text-background">
            <b th:utext="|#{unit.equipment}:|">Equipment:</b> <span th:text="${unitPrintCard.prettyEquipments()}"></span>
        </div>
        <div class="text-background">
            <b th:utext="|#{unit.skills}:|">Skills:</b> <span th:text="${unitPrintCard.prettySkills(printOptions)}"></span>
        </div>
    </div>
</div>

</body>
</html>