<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="hackingProgramsFragment(programs, title)">
    <div class="card" th:if="${programs != null and not #lists.isEmpty(programs)}">
        <div class="cardContent">
            <div class="cardHeader">
                <h2 class="card-header-title" th:text="${title}">Hacking Programs</h2>
            </div>
            <table class="hacking">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Device</th>
                    <th>Attack/Opp.<br>Mod</th>
                    <th>B</th>
                    <th>PS</th>
                    <th>Target</th>
                    <th>Skill Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="program : ${programs}">
                    <td th:text="${program.getHackingProgram().getName()}"></td>
                    <td th:text="${program.getDeviceNames()}"></td>
                    <td th:text="${program.getModifier()}"></td>
                    <td th:text="${program.getHackingProgram().getBurst()}"></td>
                    <td th:text="${program.getHackingProgram().getPs()}"></td>
                    <td th:text="${program.getTargets()}"></td>
                    <td th:text="${program.getSkillType()}"></td>
                    <td class="hackingProgramDescription" th:text="${program.getHackingProgram().getDescription()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>