<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="weaponTableFragment(weapons, unitProfile, martialArtsLevel)">
    <div th:if="${weapons != null and not #lists.isEmpty(weapons)}">
        <table class="weapon">
            <thead>
            <tr>
                <th>Weapon Name</th>
                <th th:text="${printUtils.get20cmRangeName(printOptions.isUseInch())}">20</th>
                <th th:text="${printUtils.get40cmRangeName(printOptions.isUseInch())}">40</th>
                <th th:text="${printUtils.get60cmRangeName(printOptions.isUseInch())}">60</th>
                <th th:text="${printUtils.get80cmRangeName(printOptions.isUseInch())}">80</th>
                <th th:text="${printUtils.get100cmRangeName(printOptions.isUseInch())}">100</th>
                <th th:text="${printUtils.get120cmRangeName(printOptions.isUseInch())}">120</th>
                <th th:text="${printUtils.get240cmRangeName(printOptions.isUseInch())}">240cm</th>
                <th th:if="${printOptions.isShowWeaponSkill()}">Skill</th>
                <th class="weapon-padding" th:if="${printOptions.isShowBurst()}">B</th>
                <th class="weapon-padding" th:if="${printOptions.isShowSavingRoll()}">Saving Roll</th>
                <th th:if="${printOptions.isShowPs()}">PS</th>
                <th th:if="${printOptions.isShowAmmo()}">Ammo</th>
                <th th:if="${printOptions.isShowSaveAttribute()}">Save<br>Attr.</th>
                <th th:if="${printOptions.isShowNumberOfSaveRolls()}">Save<br>Rolls</th>
                <th th:if="${printOptions.isShowWeaponTraits()}">Traits</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="weapon : ${weapons}">
                <td class="weapon-table-name-header"
                    th:text="${printUtils.prettyWeaponName(weapon, printOptions)}"></td>
                <th:block th:if="${printUtils.getRangeTemplate(weapon) != null}">
                    <td colspan="7" th:text="${printUtils.getRangeTemplate(weapon)}"></td>
                </th:block>

                <th:block th:if="${printUtils.isCC(weapon)}">
                    <td colspan="7" th:text="${printUtils.getCcRangeText(martialArtsLevel)}">CC</td>
                </th:block>

                <th:block th:if="${printUtils.getRangeTemplate(weapon) == null && !printUtils.isCC(weapon)}">
                    <td th:text="${printUtils.applyXVisorToRangeModi(unitProfile, weapon.getUpTo20cmRangeModi())}"
                        th:class="${printUtils.getRangeClassWithOptionalXVisor(unitProfile, weapon.getUpTo20cmRangeModi(), rangeModifierClassMap)}"></td>
                    <td th:text="${printUtils.applyXVisorToRangeModi(unitProfile, weapon.getUpTo40cmRangeModi())}"
                        th:class="${printUtils.getRangeClassWithOptionalXVisor(unitProfile, weapon.getUpTo40cmRangeModi(), rangeModifierClassMap)}"></td>
                    <td th:text="${printUtils.applyXVisorToRangeModi(unitProfile, weapon.getUpTo60cmRangeModi())}"
                        th:class="${printUtils.getRangeClassWithOptionalXVisor(unitProfile, weapon.getUpTo60cmRangeModi(), rangeModifierClassMap)}"></td>
                    <td th:text="${printUtils.applyXVisorToRangeModi(unitProfile, weapon.getUpTo80cmRangeModi())}"
                        th:class="${printUtils.getRangeClassWithOptionalXVisor(unitProfile, weapon.getUpTo80cmRangeModi(), rangeModifierClassMap)}"></td>
                    <td th:text="${printUtils.applyXVisorToRangeModi(unitProfile, weapon.getUpTo100cmRangeModi())}"
                        th:class="${printUtils.getRangeClassWithOptionalXVisor(unitProfile, weapon.getUpTo100cmRangeModi(), rangeModifierClassMap)}"></td>
                    <td th:text="${printUtils.applyXVisorToRangeModi(unitProfile, weapon.getUpTo120cmRangeModi())}"
                        th:class="${printUtils.getRangeClassWithOptionalXVisor(unitProfile, weapon.getUpTo120cmRangeModi(), rangeModifierClassMap)}"></td>
                    <td th:text="${printUtils.applyXVisorToRangeModi(unitProfile, weapon.getUpTo240cmRangeModi())}"
                        th:class="${printUtils.getRangeClassWithOptionalXVisor(unitProfile, weapon.getUpTo240cmRangeModi(), rangeModifierClassMap)}"></td>
                </th:block>

                <td th:if="${printOptions.isShowWeaponSkill()}"
                    th:text="${printUtils.getPrintWeaponSkill(weapon)}"></td>

                <td th:if="${printOptions.isShowBurst()}"
                    th:text="${printUtils.getWeaponBurstWithExtra(unitPrintCard, weapon, printOptions)}"></td>
                <td class="weapon-padding" th:if="${printOptions.isShowSavingRoll()}"
                    th:text="${printUtils.getWeaponSavingRollWithExtra(unitProfile, weapon, printOptions)}"></td>
                <td th:if="${printOptions.isShowPs()}"
                    th:text="${printUtils.getWeaponPsWithExtra(unitProfile, weapon, printOptions)}"></td>
                <td th:if="${printOptions.isShowAmmo()}"
                    th:text="${printUtils.getAmmo(weapon)}"></td>
                <td th:if="${printOptions.isShowSaveAttribute()}"
                    th:text="${printUtils.getSavingAttribut(weapon)}"></td>
                <td th:if="${printOptions.isShowNumberOfSaveRolls()}"
                    th:text="${printUtils.getSavingNumber(weapon)}"></td>

                <td class="weapon-table-traits"
                    th:if="${printOptions.isShowWeaponTraits()}"
                    th:text="${printUtils.getWeaponPropertiesString(unitProfile, weapon, printOptions)}"></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>

</body>
</html>