name: Gradle Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble

    env:
      HOME: /root

    steps:
      - name: Install Git
        run: |
          apt-get update
          apt-get install -y git

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Git Safe Directory
        run: git config --global --add safe.directory '*' # Allow container to access git dir owned by runner

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload Test Report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: |
            **/build/reports/tests/
            **/playwright/result/